* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s ease all;
}


a {
    text-decoration: none;
    color: #323232;
}

button {
    background-color: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }
}


li {
    list-style: none;
}

span.material-symbols-rounded {
    transition: 0.2s ease-in-out all;
    &:hover {
        font-variation-settings:
            'FILL'1,
            'wght'400,
            'GRAD'0,
            'opsz'24
    }
}